<header>
    <nav>
        <div class="logo">
            <a href="<%= baseUrl === '' ? '/' : baseUrl %>">
                <img src="<%= baseUrl %>potions-logo.svg" alt="Logo" class="logo-img">
            </a>
        </div>
        <ul class="nav-links">
            <% if (showBlogLink) { %>
            <li><a href="<%= baseUrl === '' ? '/' : baseUrl %>#testimonial" class="hover-underline">Testimonials</a></li>
            <li><a href="<%= baseUrl %>samples.html" class="hover-underline">Samples</a></li>
            <li><a href="<%= baseUrl %>blog/" class="hover-underline">Blog</a></li>
            <li><a href="<%= baseUrl === '' ? '/' : baseUrl %>#faq" class="hover-underline">FAQ</a></li>
            <li><a href="<%= baseUrl === '' ? '/' : baseUrl %>#pricing" class="hover-underline">Pricing</a></li>
            <% } else { %>
            <li><a href="<%= baseUrl === '' ? '/' : baseUrl %>#testimonial" class="hover-underline">Testimonials</a></li>
            <li><a href="<%= baseUrl %>samples.html" class="hover-underline">Samples</a></li>
<!--            <li><a href="<%= baseUrl %>blog/" class="hover-underline">Blog</a></li>-->
            <li><a href="<%= baseUrl === '' ? '/' : baseUrl %>#faq" class="hover-underline">FAQ</a></li>
            <li><a href="<%= baseUrl === '' ? '/' : baseUrl %>#pricing" class="hover-underline">Pricing</a></li>
            <% } %>
            <li><a href="https://billing.stripe.com/p/login/5kA7tpbg6cSJ8gwbII" class="hover-underline">Manage Subscription</a></li>
        </ul>
        <div class="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
</header>